#img{
    display: flex;
    justify-content: space-around;
    width: 100%;
}


#info{
    padding:0px  40px;
    display:flex;
    flex-direction: column;
    border-radius: 8px;
    
    border:3px solid rgb(15, 224, 224);
    justify-content: space-around;
    background-color: darkcyan;
}
#info div{
    border-radius: 5px;
    border:1px solid black;
    padding:8px 0px;
    width:250px;
    text-align: center;

    

    background-color: white;

}

#info2{
    display:flex;
    justify-content: space-around;
    margin-top: 40px;
    padding:30px;
border-radius: 4px;
border:1px solid black;
color:white;
width:80%;

}
.updated{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: x-large;
}
#main1{
    display:flex;
    width:100vw;
    justify-content: center;
}
#main{
    background-color: rgba(13, 122, 141, 0.199);
    padding:40px;
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;

    
}
header{
    height:60px;
    border-bottom:3px solid black;
    display: flex;
    color:white;
    align-items:center;
    background-color: rgba(18, 255, 164, 0.192);
    justify-content: space-around;
}
header h1{
    padding:6px 18px;
    border-radius: 4px;
    color:black;
    background-color: rgba(187, 236, 9, 0.815);
}   
#div2{
    display:flex;
    justify-content: space-around;

}

#div2 a{
    margin-left: 40px;
    text-decoration: underline;
}
